body {
    font-family: Arial, Helvettica, sans-serif;
    background-color: white;
    width: 100%;
    font-size: 16px;
}

.small {
  font-size: 12px; /* 75% of the baseline */
}

.large {
  font-size: 20px; /* 125% of the baseline */
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #428bca;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}