body {
    font-family: Arial, Helvettica, sans-serif;
    background-color: white;
    width: 100%;
    font-size: 16px;
}

body a {
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

.small {
  font-size: 12px; /* 75% of the baseline */
}

.large {
  font-size: 20px; /* 125% of the baseline */
}

#nav ul {
    list-style-type: none;
    display: inline;
}

#nav ul li {
    float: left;
    padding-right:1em;
    display: inline-block;
}

/*
#nav ul li ul {
    position: absolute;
    top: 4.5em;
    display: none;
    visibility: hidden;
}

#nav ul li ul li {
    display: block;
    background: #CCC;
    
}

#nav ul li:hover ul {
    display: block;
    visibility: visible;
}
*/


.fa-bars {
    color: #777;
}

.fa-github {
  color:#551A8B;
}

.fa-linkedin {
    color:#007bb6;
}

.fa-instagram {
    color: #777;
}

.fa {
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

.fa:hover {
    color: black;
}


footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #428bca;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

footer a:hover {
    color: #2a6496;
}