body {
    font-family: Arial, Helvettica, sans-serif;
    background-color: white;
}

header {
    width:800px;
    color:black;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
    overflow:hidden;
}

#header {
    width:49%;
    float:left;
    border-right:solid;
    border-right-color:black;
}

#header h1 {
    padding-top:25px;
    padding-bottom:30px;
    line-height:.5em;
    text-align: right;
    padding-right:30px;
}

#contactInfo {
    width:50%;
    float:right;
}

#contactInfo h3 {
    font-size:.8em;
    line-height:1em;
    padding-left:30px;
    padding-top:0px;
}

#contactInfo p {
    line-height: 1em;
    padding:0;
    padding-left:30px;
    margin:10px 0px 8px 0px;
}

#contactInfo a {
    font-family: "Courier New", Courier, monospace;
    padding:0;
    padding-left:30px;
    text-decoration:none; 
    color:#428bca;
    font-size:.9em;
}

#contactInfo a:hover {
  color:#2a6496;
  text-decoration:underline;
}

#nav-menu ul {
    list-style-type: none;
    padding-right:50px;
}

#nav-menu li {
    float:left;
    padding-right:2px;
}

#nav-menu a {
    padding:10px;
    color:black;
    text-decoration: none;
    line-height: 2.3em;
}

#github {
  padding-left:10px;
}

.social {
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

.social:hover {
  color:black;
}

.fa-linkedin {
  color:#007bb6;
}

.fa-facebook-official { 
  color:#3b5998; 
}

.fa-instagram {
  color:#777;
}

.fa-github {
  color:#551A8B;
}

.current {
    color:black;
    border-color:black;
    border-style:solid;
    border-width:1px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-color:white;
    /*border-bottom-width:5px;*/
}

.tab {
    color:black;
    /*border-color:black;
    border-style:solid;
    border-width:1px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    background-color:white;
    border-bottom:none;*/
}

.tab:hover {
    background-color:#EEE;
    border-color:#EEE;
    border-style:solid;
    border-width:0px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-color:black;
}

.link {
    color:black;
}

.link:hover {
    color:#AAAAAA;
}

section {
    width:800px;
    margin-right:auto;
    margin-left:auto;
}

.main {
    /*height:425px;*/
    border-top-color:black;
    border-top-style:solid;
    border-top-width:1px;
    /*border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;*/
    border-bottom-color:#BBB;
    border-bottom-style:solid;
    border-bottom-width:1px;
    padding:0px;
}

.main h3, h4, h5 {
    padding:0px;
    padding-left:20px;
    line-height:.8em;
}

.main p {
    padding-right:20px;
    padding-left:20px;
    /*padding-bottom: 200px;*/
}

ul.img-list {
  list-style-type:none;
  margin:0;
  margin-left: 10px;
  padding:0;
  text-align:left;
}

ul.img-list li {
  display:inline-block;
  height:150px;
  margin: 0 1em 1em 0;
  position: relative;
  width:150px;
  box-shadow: 3px 3px 5px 1px #AAAAAA;
}

span.text-content span {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

ul.img-list li:hover span.text-content {
    opacity:1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.mainImage {
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.main a {
  text-decoration:none;
  color:#428bca;
}

.main a:hover {
    color:#2a6496;
    text-decoration:underline;
}

.projectLinks, .classes {
    padding-left:20px;
}

.classes h4 {
    color:#428bca;
}

.classes a {
  text-decoration:none;
  color:#428bca;
}

.classes a:hover {
  color:#2a6496;
  text-decoration:underline;
}

footer {
    color:#AAA;
    width:200px;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #428bca;
}

/*
.logo {
  height:30px;
  width:30px;
}

.logo:hover {
  opacity: 0.5;
}
*/

blockquote {
  margin-left:20px;
  margin-top:-10px;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

.position p {
  margin-top:-20px;
}