/* remove the hovering feature of navigation bar title */
.navbar-header .navbar-brand:hover {
    color: #999;
}

/* customize jumbotron
============================================== */
.jumbotron {
    margin-left: auto;
    margin-right: auto;
    height: 45vw;
    width: 100%;
    position: relative;
    top:80px;
    background-image: url(images/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    margin-top: -20px;
    font-size: 7vw;
/*    color:#66FF66;*/
}

.jumbotron p {
    text-align: center;
    margin-top: 15vw;
    padding-left: 10px;
    font-size: 4vw;
    font-weight: normal;
    background-color: rgba(200,200,200,.7);
    border-radius: 10px;
}

#home-page-content {
    position: relative;
    top: 50px;
    padding:20px;
}

/* adjust content for mobile view
============================================== */
@media (max-width: 768px) {
    #home-page-content {
        /* make sure there is enough space under jumbo-tron */
/*        margin-top:60px;*/
    }
    /* use smaller version of image to load faster */
    .jumbotron {
        background-image: url(images/jumbo-mobile.png);
    }
}

/* customize the carousel
============================================== */
#myCarousel {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#travel-carousel {
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #333;
}

.carousel-caption p {
    color:#111;
    padding-left: 0;
    background-color: rgba(200,200,200,.7);
}

/* travel pic section
============================================== */
.travel-pics {
    position: relative;
    top:50px;
}

/* course-info section
============================================== */
.course-info {
    position: relative;
    top:50px;
}

/* about me main section
============================================== */
.about-main-content {
    position: relative;
    top:100px;
    text-align: center;
    margin-bottom: 100px;
}

.about-main-content .container .row .col-md-12 .img-circle {
    margin-left: auto;
    margin-right: auto;
}

.about-main-content .container .row {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.about-main-content .social .fa {
    padding-left:10px;
    padding-right: 10px;
}

/* adjust footer
============================================== */
footer {
    position: relative;
    top:100px;
    margin-bottom: 50px;
    text-align: center;
}