/* customize navbar
============================================== */
/* remove the hovering feature of navigation bar title */
.navbar-header .navbar-brand:hover {
    color: #999;
}

/* adjust navbar for bigger github icon */
.navbar-right li {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* customize jumbotron
============================================== */
.jumbotron {
    margin-left: auto;
    margin-right: auto;
    height: 45vw;
    width: 100%;
    position: relative;
    top:50px;
    background-image: url(images/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    text-align: center;
    margin-top: -20px;
    font-size: 7vw;
}

.jumbotron .container p {
    text-align: center;
    margin-top: 15vw;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 4vw;
    font-weight: normal;
    background-color: rgba(200,200,200,.7);
    border-radius: 10px;
}

#home-page-content {
    position: relative;
    top: 50px;
    padding:20px;
}

/* adjust content for mobile view
============================================== */
@media (max-width: 768px) {
    /* remove github icon from dropdown nav in mobile view */
    .navbar-right {
        display: none;
    }
    /* use smaller version of image to load faster */
    .jumbotron {
        background-image: url(images/jumbo-mobile.png);
    }
    .tooltip {
        display: none !important;
    }
}

/* adjust content for desktop view
============================================== */
@media (min-width: 768px) {
    #home-page-content {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* customize the carousel
============================================== */
#myCarousel {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#travel-carousel {
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #333;
}

.carousel-caption p {
    color:#111;
    padding-left: 0;
    background-color: rgba(200,200,200,.7);
}

/* travel pic section
============================================== */
.travel-pics {
    position: relative;
    top:50px;
}

.travel-pics .thumbnail:hover {
    cursor:pointer;
}

/* course-info section
============================================== */
.course-info {
    position: relative;
    top:50px;
}

/* about me main section
============================================== */
.about-main-content {
    position: relative;
    top:100px;
    text-align: center;
    margin-bottom: 100px;
}

.about-main-content .container .row .col-md-12 .img-circle {
    margin-left: auto;
    margin-right: auto;
}

.about-main-content .container .row {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.about-main-content .social {
    padding: 0;
    margin: 0;
}

.about-main-content .social li {
    display: inline-block;
    padding: 0 10px 0 10px;
}

/* adjust footer
============================================== */
footer {
    position: relative;
    top:100px;
    margin-bottom: 50px;
    text-align: center;
}

/* tooltips and popovers
============================================== */
/* prevent tooltip from wrapping text at every word */
.tooltip-inner {
    white-space:pre;
    max-width: none;
}

/* make popover go below navbar */
.popover {
    z-index: 1025;
    white-space: pre-wrap;
    min-width: 200px;
}