html {
    position:relative;
    min-height:100%;
    width: 100%;
    /* overflow-x: hidden; */
}

body {
    padding-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    font-size: 16px;
    /* overflow-x: hidden; */
}

blockquote {
    font-size: 15px;
}


/* customize navbar
============================================== */
/* remove the hovering feature of navigation bar title */
.navbar-header .navbar-brand:hover {
    color: #999;
}

/* adjust navbar for bigger github icon */
.navbar-right li {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* bring github tooltip slightly closer to bottom of navbar */
.navbar-right li a {
    padding-bottom: 11px;
}

.navbar-inverse {
    opacity: 0.95;
}

#sidebar {
    padding-top: 40px;
}

#sidebar > .list-group {
    position: fixed;
    width: 20%;
}

/* adjust content for mobile/tablet view
============================================== */
@media (max-width: 991px) {
    .tooltip {
        display: none !important;
    }
    #CV, #CV-panel, #sidebar, .my-hr, .mobile-hide {
        display: none;
    }
    /*
     * #name-title {
     *     display: none;
     * }
     */
}

/* adjust content for desktop view
============================================== */
@media (min-width: 992px) {
    #resources, #mobile-break {
        display: none;
    }
}

/* customize the carousel
============================================== */
#myCarousel {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#travel-carousel {
    position: relative;
/*    top: 50px;*/
    width: 100%;
    background-color: #333;
}

.carousel-caption p {
    color:#111;
    padding-left: 0;
    background-color: rgba(200,200,200,.7);
}

/* travel pic section
============================================== */
.travel-pics {
    position: relative;
    top:50px;
}

.travel-pics .thumbnail:hover {
    cursor:pointer;
}


/* adjust footer
============================================== */
.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* width: 80%; */
    /* display: flex; */
    /* text-align: center; */
    align-items: center;
}

/* tooltips and popovers
============================================== */
/* prevent tooltip from wrapping text at every word */
.tooltip-inner {
    white-space:pre;
    max-width: none;
}

/* make popover go below navbar */
.popover {
    z-index: 1025;
    white-space: pre-wrap;
    min-width: 200px;
}

.popover-info-link:hover {
    cursor:pointer;
}

pre {
    margin-top: 10px;
}

.prettyprint ol.linenums > li { 
    list-style-type: decimal; 
}

#disqus {
    margin-top: 70px;
}


/*
 * Other
============================================== */
.btn {
    margin-bottom: 5px;
}

#CV {
    width: 100%;
    height: 700px;
}

#portrait {
    width: 160px;
    height: 160px;
    border-radius: 8px;
}

#resources {
    border-color: black;
}

.display-math {
    width: 100%;
    /* height: 700px; */
    height: 81vw;
}

.breadcrumb {
    margin-top: 20px;
}

#top {
    margin-top: 20px;
}

/* Math  */
.math {
    font-size: 16px;
}

span.math.display {
    display: block;
    text-align: center;
}

.jumbotron {
    /* background-image: url(http://factsongambling.com/wp-content/uploads/2015/01/gambling-facts-image.png) no-repeat center center; */
    background: url(http://factsongambling.com/wp-content/uploads/2015/01/gambling-facts-image.png) no-repeat center center;
    height: 366px;
}
