body {
    font-family: Arial, Helvettica, sans-serif;
    background-color: white;
}

header {
    width:800px;
    color:black;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
    overflow:hidden;
}

#header {
    width:49%;
    float:left;
    border-right:solid;
    border-right-color:black;

}

#header h1 {
    padding-top:25px;
    padding-bottom:30px;
    line-height:.5em;
    text-align: right;
    padding-right:30px;
}

#contactInfo {
    width:50%;
    float:right;
}

#contactInfo h3 {
    font-size:.8em;
    line-height:1em;
    padding-left:30px;
}

#contactInfo p {
    line-height: 1em;
    padding:0;
    padding-top:0px;
    padding-left:30px;
}

#nav-menu {

}

#nav-menu ul {
    list-style-type: none;
    padding:0px;
}

#nav-menu li {
    float:left;
}

#nav-menu a {
    padding:10px;
    text-decoration: none;
    line-height: 2.3em;
}

#contactInfo a {
  text-decoration:none; 
  color:black;
}

#contactInfo a:hover {
  color:#AAAAAA;
}

.current {
    color:white;
    border-color:black;
    border-style:solid;
    border-width:3px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-color:#888888;
    border-bottom-width:5px;
    background-color:#888888;
}

.tab {
    color:black;
    border-color:black;
    border-style:solid;
    border-width:1px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    background-color:#EEEEEE;
    border-bottom:none;
}

.tab:hover {
    color:black;
    border-color:black;
    border-style:solid;
    border-width:3px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    background-color:#AAAAAA;
    border-bottom:none;
}

.link {
    color:black;
}

.link:hover {
    color:#AAAAAA;
}

section {
    width:800px;
    margin-right:auto;
    margin-left:auto;
}

.main {
    height:425px;
    background-color: #888888;
    color:white;
    border-color:black;
    border-style:solid;
    border-width:3px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    padding:0px;
}

.main h3 {
    padding:0px;
    padding-left:20px;
    line-height:.8em;
}

.main p {
    padding-right:20px;
    padding-left:20px;
    /*padding-bottom: 200px;*/
}

.images {
    box-shadow: 3px 3px 5px 1px #AAAAAA;
    height:150px;
    width:150px;   
}

p a {
    color:white;
}

p a:hover {
    color:black;
}

.projectLinks, .classHours {
    padding-left:20px;
}

.mainImage {
    float:left;
    margin:0px 20px 0px 0px;
    box-shadow: 3px 3px 5px 1px #AAAAAA;
}

footer {
    width:200px;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    text-align: center;
}

.logo {
  height:30px;
  width:30px;
}

.logo:hover {
  height:35px;
  width:35px;
}

#github {
  padding-left:10px;
}